* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;

}

html,
body {
    height: 100%;
    width: 100%;
}

#nav {
    height: 140px;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 0 79px;
}


#nav img {
    height: 80px;
    dis
}